:root{
    --dark-orange-color:#FB8500;
    --black:#000000;
    --sky-blue:#8ACAE6;
    --orange:#DBAA5A;
    --gray:#605757;
    --primary:#f9e0ae; 
    --gradient-background-color: linear-gradient(107deg, rgba(242, 202, 138, 0.92) 2.72%, rgba(245, 245, 245, 0.06) 94.02%, rgba(217, 217, 217, 0.00) 94.02%);   
    --gradient-header-color: linear-gradient(to bottom, var(--black), var(--dark-orange-color));
    --font: #682c0e;
    --bg_button: #c24914;
    --image_bg: #dac0a3;
    --image_bg2: #eadbc8; 

    overflow-x: hidden;
}
.wrapper-sP{
    display: block;
    justify-content: center;
    width: 100%;   
}
.sP-first-section{
  min-height: 8vh !important;
}
.sP-text{
    position:absolute;
    width: 54%;
    max-width: 1000px;
    z-index: 5;
    margin-top: 16em;
    margin-left: 4em;
}
.sP-text h1{
    font-size: 5rem;
    font-weight: 700;
}
.sP-text p{
    margin-top: 1em;
    font-size: 1.72rem;
    font-weight: 400;
    color: var(--gray)
}
.sP-second-section{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 99;
    background-color: white;
    margin-top: 48em;
    min-height: 100vh;

}
.grid-container {
    display: grid;
    position: absolute;
    grid-template-columns: repeat(6, 1fr); 
    justify-content: center;
    gap: 2em;  
    row-gap: -80px !important;
    padding-top: 4em !important;
    padding-bottom: 0!important;
}
  .grid-image {
    width: 240px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--image_bg2);
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #sP-profile{
    height: 22vh;
    border: 0.2vw solid var(--image_bg);
    border-radius: 10%;
  }
  .grid-item:hover{
    filter: brightness(0.9);
    cursor: pointer;
  }
  .grid-text{
    display: flex;
    margin-top: 0.5em;
    padding: 0.5em !important;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.80rem;
    font-weight: 600;
    background-color: var(--image_bg);
    justify-content: center;
    border: var(--image_bg) solid 0.2em;
    border-radius: 0.5em;
  }
