:root{
    --dark-orange-color:#FB8500;
    --black:#000000;
    --sky-blue:#8ACAE6;
    --orange:#DBAA5A;
    --gray:#605757;
    --primary:#f9e0ae; 
    --gradient-background-color: linear-gradient(107deg, rgba(242, 202, 138, 0.92) 2.72%, rgba(245, 245, 245, 0.06) 94.02%, rgba(217, 217, 217, 0.00) 94.02%);   
    --gradient-header-color: linear-gradient(to bottom, var(--black), var(--dark-orange-color));
    --font: #682c0e;
    --bg_button: #c24914;
    --image_bg: #dac0a3;
    --image_bg2: #eadbc8; 

    overflow-x: hidden;
}

.wrapper-sP{
    display: block;
    justify-content: center;
    width: 100px !important;
    max-width: 100px !important;
    
}
.rectangle{
    width: 800px;
    max-width: 800px;
    height: 150vh;
    position: absolute;
    border-radius:50px;
}
.first{
    background-color: var(--primary);
    transform: rotate(-40deg);
    margin-left: 86vw;
    top: -28%;
    z-index: 3;
}
.second{
    background-color: var(--image_bg2);
    transform: rotate(-40deg);
    margin-left: 82vw;
    top: 4%;
    z-index: 2;
}
.third{
    background-color: var(--image_bg);
    transform: rotate(-40deg);
    margin-left: 77vw;
    top: 36%;
    z-index: 1;
}
.sP-first-section{
    height: 100vh;
}
.sP-text{
    padding-top: 28vh;
    padding-left: 104px;
}
.sP-text h1{
    font-size: 88px;
    font-weight: 700;
    width: 900px;
}
.sP-text p{
    margin-top: 32px;
    font-size: 28px;
    font-weight: 400;
    width: 840px;
    color: var(--gray)
}

.sP-second-section{
    position: relative;
    height: 102vh;
    width: 100vw;
    z-index: 99;
    background-color: white;
    padding-bottom: 960px;
    padding-top: 64px;
    padding-left: 104px;
    padding-right: 80px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Creates six columns with equal width */
    gap: 16px; /* Adjust the gap between columns */
    row-gap: 40px;
    padding-top: 80px;
  }
  
  /* Style for each grid item (column) */
  .grid-image {
    padding: 16px;
    width: 192px;
    height: 192px;
    background-color: var(--image_bg2);
    border-radius: 25px;
  }
  .grid-item:hover{
    filter: brightness(0.9);
    cursor: pointer;
  }
  .grid-text{
    padding-top: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
  }
