:root{
    --background: #F9E0AE;
    --black-text: #000;
    --primary-dark: #682C0E;
    --primary-light: #C24914;
    --white: #FFFFFF;
}

.LN-page{
    background-color: var(--background);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LN-big-container{
    width: 1250px;
    height: 620px;
    flex-shrink: 0;
    border-radius: 40px;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(2px);
}

.LN-split-container{
    display: flex;
    margin: 0;
    padding: 0;
}
.LN-email{
    padding: 8px;
}
.LN-message{
    font: 400 12px 'Arial';
    width: auto;
    height: auto;
    padding: 15px;
    background-color: var(--pale-green);
    color: var(--green);
    border: 1.2px solid var(--green);
    margin-bottom: 1rem;
    margin-top: 20px;
    display: none;
}