/*VARIABLES*/
:root{
    --gradient-background-color: linear-gradient(107deg, rgba(242, 202, 138, 0.92) 2.72%, rgba(245, 245, 245, 0.06) 94.02%, rgba(217, 217, 217, 0.00) 94.02%);   
    --dark-orange-color: #FB8500;
}

/*GLOBL STYLE*/
*,
*::before,
*::after{
    box-sizing: border-box;
}
.loginBody{
    margin: 0;
    padding: 0
}


/*LAYOUT AND STRUCTURE*/
.wrapper-login{
    background: var(--gradient-background-color);
    padding: 0 20px 0 20px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.side-image{
    background-image: url("https://www.rappler.com/tachyon/2023/05/CAEPUP-may-29-2023-1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
    position: relative;
}
.row{
  width:  900px;
  height:550px;
  border-radius: 10px;
  background: #fff;
  padding: 0px;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}
.right{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}
.input-box-login{
  width: 330px;
  box-sizing: border-box;
}

.input-field-login{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}
.input-login{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}
 .submit-btn-login{
    border: none;
    outline: none;
    height: 45px;
    background: var(--dark-orange-color);
    border-radius: 5px;
    transition: .4s;
 }

 .signin-btn{
    text-align: center;
    font-size: small;
    margin-top: 25px;
}



/*COMPONENTS*/
.input-box-login .welcome-text-login{
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}
.input-box-login .port4lio-text-login{
    font-size: 5vw;
    font-weight: 700;
    color: var(--dark-orange-color);
}
.input-box-login .input-field-login .label-login{
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}
.input-field-login input:focus ~ .label-login
   {
    top: -10px;
    font-size: 13px;
  }
  .input-field-login input:valid ~ .label-login
  {
   top: -10px;
   font-size: 13px;
   color: var(--dark-orange-color);
 }
 .input-field-login .input:focus, .input-field-login .input:valid{
    border-bottom: 1px solid var(--dark-orange-color);
 }
 .submit-btn-login:hover{
    color: #fff;
 }
 .span-login a{
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: .5s;
}
.span-login a:hover{
    text-decoration: underline;
    color: #000;
}



/*MEDIA QUERY*/
@media only screen and (max-width: 768px){
    .side-image{
        border-radius: 10px 10px 0 0;
    }
    svg{
        width: 35px;
        position: absolute;
        top: 20px;
        left: 47%;
    }
    .text{
        position: absolute;
        top: 70%;
        text-align: center;
    }
    .text p, i{
        font-size: 16px;
    }
    .row{
        max-width:420px;
        width: 100%;
    }
}