:root{
    --dark-orange-color:#FB8500;
    --black:#000000;
    --sky-blue:#8ACAE6;
    --orange:#DBAA5A;
    --gray:#605757;
    --primary:#f9e0ae; 
    --gradient-background-color: linear-gradient(107deg, rgba(242, 202, 138, 0.92) 2.72%, rgba(245, 245, 245, 0.06) 94.02%, rgba(217, 217, 217, 0.00) 94.02%);   
    --gradient-header-color: linear-gradient(to bottom, var(--black), var(--dark-orange-color));
    --font: #682c0e;
    --bg_button: #c24914;
    --image_bg: #dac0a3;
   
}
.wrapper-landing{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.body{
    width: 72%;
    max-width: 1200px;
    margin-top: 8em;
}
.main-content{
    display: flex;
    max-width: 1000px; 
    padding-left: 4em;
    padding-right: 4em;
    margin-left: 2.72em;
}
.main-content img{
    margin-bottom: 8em;
}
.s1{
    gap: 6.4em; 
}
.s2{
    gap: 3.2em;
}
.s3{
    gap: 2.2em;
}
.content-text h4{
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.76rem;
}
.content-text p{
    margin-top: 0.88em;
    font-size: 1.04rem;
    font-weight: 400;
    color: var(--gray);
}
.content-text button{
    background-color: var(--bg_button);
    color: white;
    font-size: 0.96rem;
    font-weight: 700;
    border: none;
    margin-top: 0.80em;
    border-radius: 1.6em;
    letter-spacing: 0.05em;
    padding: 0.72em 5.72em;
}
.content-text button:hover{
    filter: brightness(0.9);
}
.landing-about{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.landing-about h3{
    font-size: 2.88rem;
    font-weight: 700;
    color: var(--bg_button);
}
.landing-about h4{
    font-size: 1.88rem;
    font-weight: 700;
}
.landing-about p{

    font-size: 1.04rem;
    font-weight: 400;
    color: var(--gray);
}
.about-adviser{
    display: flex;
    justify-content: center;
    align-items: center;
}
.adviser-image{
    margin: 4em;
    width: 320px;
    height: 320px;
    background-color: var(--image_bg);
    border-radius: 1em;
}