:root{
    --dark-orange-color:#FB8500;
    --black:#000000;
    --sky-blue:#8ACAE6;
    --orange:#DBAA5A;
    --gray:#605757;
    --primary:#f9e0ae; 
    --gradient-background-color: linear-gradient(107deg, rgba(242, 202, 138, 0.92) 2.72%, rgba(245, 245, 245, 0.06) 94.02%, rgba(217, 217, 217, 0.00) 94.02%);   
    --gradient-header-color: linear-gradient(to bottom, var(--black), var(--dark-orange-color));
    --font: #682c0e;
    --bg_button: #c24914;
    --image_bg: #dac0a3;

    overflow-x: hidden;
}

.wrapper-home{
    display: block;
    justify-content: center;
    width: 100px !important;
    max-width: 100px !important;
    
}
.rectangle{
    width: 800px;
    max-width: 800px;
    height: 150vh;
    position: absolute;
    border-radius:50px;
}
.first{
    background-color: var(--primary);
    transform: rotate(-40deg);
    margin-left: 86vw;
    top: -28%;
    z-index: 3;
}
.second{
    background-color: #eadbc8;
    transform: rotate(-40deg);
    margin-left: 82vw;
    top: 4%;
    z-index: 2;
}
.third{
    background-color: var(--image_bg);
    transform: rotate(-40deg);
    margin-left: 77vw;
    top: 36%;
    z-index: 1;
}
.first-section{
    height: 100vh;
}
.home-text{
    padding-top: 28vh;
    padding-left: 104px;
}
.home-text h1{
    font-size: 88px;
    font-weight: 700;
    width: 900px;
}
.home-text p{
    margin-top: 32px;
    font-size: 28px;
    font-weight: 400;
    width: 840px;
    color: var(--gray)
}

.second-section{
    position: relative;
    height: 102vh;
    width: 100vw;
    z-index: 99;
    background-color: white;
    padding-bottom: 960px;
    padding-top: 64px;
    padding-left: 104px;
    padding-right: 80px;
}
.home-ojt, .ojt-adviser{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.home-image{
    width: 600px;
    height: 350px;
}
.home-image{
    margin-left: auto;
}
.second-section h4{
    font-size: 40px;
    padding-bottom: 48px;
    font-weight: 700;
}
.home-ojt-text{
    text-align: center;
}
.home-ojt p{
   font-size: 18px;
   width: 760px;
   color: var(--gray);
   padding-top: 12px;
}

.home-ojt-adviser h4{
    padding-left: 108px;
    padding-bottom: 16px;
}
.home-ojt-adviser .image{
    height: 350px;
    width: 350px;
    background-color:var(--image_bg);
    margin-right: 6vw;
}
.home-ojt-adviser p{
    color: var(--gray);
    font-size: 18px;

}