:root{
    --dark-orange-color:#FB8500;
    --black:#000000;
    --sky-blue:#8ACAE6;
    --orange:#DBAA5A;
    --gray:#605757;
    --primary:#f9e0ae; 
    --gradient-background-color: linear-gradient(107deg, rgba(242, 202, 138, 0.92) 2.72%, rgba(245, 245, 245, 0.06) 94.02%, rgba(217, 217, 217, 0.00) 94.02%);   
    --gradient-header-color: linear-gradient(to bottom, var(--black), var(--dark-orange-color));
    --font: #682c0e;
    --bg_button: #c24914;
    --image_bg: #dac0a3;

    overflow-x: hidden;
}
.wrapper-home{
    display: block;
    justify-content: center;
    width: 100%; 
}
.first-section{
    height: 100vh;
    
}
.home-text-container{
    display: flex;
    justify-content: center;
}
.home-text{
    position:absolute;
    width: 54%;
    max-width: 1000px;
    z-index: 5;
    margin-top: 12em;
    margin-right: 32em;
}
.home-text h1{
    font-size: 5rem;
    font-weight: 700;
}
.home-text p{
    margin-top: 1em;
    font-size: 1.72rem;
    font-weight: 400;
    color: var(--gray)
}
.rectangle{
    width: 800px;
    position: absolute;
    border-radius:50px;
}
.second-section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 99;
    background-color: white;
    margin-top: 48rem;
}
.home-image{
    max-width: 1000px;
    width: 600px;
    height: 350px;
}
.home-ojt{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2em;
}
.row2{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2em;
}
.img{
    max-width: 1000px;
    width: 600px;
    height: 0px;
    background-color:var(--image_bg);
}

.row3{
    display: flex;
    justify-content: center;
    gap: 8em;
    margin:3em;
}
.adviser-container{
    display: flex;
    gap:5em;

}
.image{
    height: 350px;
    width: 350px;
    background-color:var(--image_bg);
}
.home-ojt-text2{
    display: flex;
    
    flex-direction: column;
    justify-content: center;
}



.second-section h4{
    font-size: 40px;
    font-weight: 700;
}
.home-ojt-text{
    text-align: center;
}
.home-ojt p{
   font-size: 18px;
   width: 760px;
   color: var(--gray);
}



.home-ojt-adviser p{
    color: var(--gray);
    font-size: 18px;

}