:root{
    --dark-orange-color:#FB8500;
    --black:#000000;
    --sky-blue:#8ACAE6;
    --orange:#DBAA5A;
    --gray:#605757;
    --primary:#f9e0ae; 
    --gradient-background-color: linear-gradient(107deg, rgba(242, 202, 138, 0.92) 2.72%, rgba(245, 245, 245, 0.06) 94.02%, rgba(217, 217, 217, 0.00) 94.02%);   
    --gradient-header-color: linear-gradient(to bottom, var(--black), var(--dark-orange-color));
    --font: #682c0e;
    --bg_button: #c24914;
    --image_bg: #dac0a3;
    --image_bg2: #eadbc8; 

    overflow-x: hidden;
}

.wrapper-aS{
    display: block;
    justify-content: center;
    width: 100px !important;
    max-width: 100px !important;
    
}
.rectangle{
    width: 800px;
    max-width: 800px;
    height: 150vh;
    position: absolute;
    border-radius:50px;
}
.first{
    background-color: var(--primary);
    transform: rotate(-40deg);
    margin-left: 86vw;
    top: -28%;
    z-index: 3;
}
.second{
    background-color: var(--image_bg2);
    transform: rotate(-40deg);
    margin-left: 82vw;
    top: 4%;
    z-index: 2;
}
.third{
    background-color: var(--image_bg);
    transform: rotate(-40deg);
    margin-left: 77vw;
    top: 36%;
    z-index: 1;
}
.aS-first-section{
    height: 100vh;
}
.aS-text{
    position:absolute;
    width: 54%;
    max-width: 1000px;
    z-index: 5;
    margin-top: 16em;
    margin-left: 4em;
}
.aS-text h1{
    font-size: 5rem;
    font-weight: 700;
    width: 900px;
}
.aS-text p{
    margin-top: 32px;
    font-size: 28px;
    font-weight: 400;
    width: 840px;
    color: var(--gray)
}

.aS-second-section{
    position: relative;
    height: auto;
    width: 100vw;
    z-index: 99;
    background-color: white;
    padding-bottom: 64px;
    padding-top: 148px;
    padding-left: 104px;
    padding-right: 80px;
}
.border{
    position: relative;
    transform: translateX(-50vw);
    height: 160px;
    width: 200vw;
    border: none !important;
    background-color: var(--image_bg);
}
.aS-table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8vw;
    margin-left: 12vw;

}
.aS-table {
    width: 100vw;
    border-collapse: collapse;
    margin-top: 104px; /* Adjust as needed */
}

/* Header row styles */
.aS-table th {
padding: 16px;
text-align: left;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;
}

/* Data row styles */
.aS-table td {
padding: 20px;
font-size: 18px;
font-family: Arial, Helvetica, sans-serif;

}

#view-details{
    padding: 4px 20px;
    transform: translateX(-3vw);
    border: none;
    background-color: var(--bg_button);
    border-radius: 8px;
    color: white;
    font-size: 16px;
}