:root{
    --dark-orange-color:#FB8500;
    --black:#000000;
    --sky-blue:#8ACAE6;
    --orange:#DBAA5A;
    --gray:#605757;
    --primary:#f9e0ae; 
    --gradient-background-color: linear-gradient(107deg, rgba(242, 202, 138, 0.92) 2.72%, rgba(245, 245, 245, 0.06) 94.02%, rgba(217, 217, 217, 0.00) 94.02%);   
    --gradient-header-color: linear-gradient(to bottom, var(--black), var(--dark-orange-color));
    --font: #682c0e;
    --bg_button: #c24914;
   
}
.landing-header{
    position: absolute;
    display: flex;
    align-items: center;
    height: 72px;
    width: 100%;
    background-color: var(--primary);
    color: #8ACAE6;
    padding-left: 6rem;
    z-index: 10;
}
.landing-title img{
    margin-bottom: 1.6vh;
    width: 1.60rem;
}
.landing-header h1{
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--font);
}
.landing-title{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.landing-navigation{
    margin-left: auto;
    margin-right: 6rem;
    display: flex;
    font-size: 0.88rem;
    gap: 0.4rem;
}
.landing-navigation button{
    background-color: var(--bg_button);
    color: white;
    font-size: 0.8rem;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    letter-spacing: 0.05em;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 0.8rem;
}
.landing-navigation button:hover{
    filter: brightness(0.9);
}
.landing-navigation a{
    color: black !important;
    font-weight: 700;
    padding-right: 32px;
}
.landing-navigation a:hover{
    color: var(--bg_button) !important;
    cursor: pointer;
}
.signed-out{
    display: flex;
    gap: 12px;
}

@media (max-width: 600px) {
    .landing-header{
        padding-left: 1rem;
        height: 48px;
        width: 100%;
    }
    .landing-title img{
        margin-bottom: 0.4rem;
        width: 0.8rem;
    }
    .landing-header h1{
        margin-top: 0.4rem;
        font-size: 0.8rem;
        font-weight: 700;
        color: var(--font);
    }
    .landing-title{
        display: flex;
        align-items: center;
        gap: 0.2rem;
    }
    .landing-navigation{
        margin-left: auto;
        margin-right: 1rem;
        display: flex;
        font-size: 0.6rem;
        gap: 0;
    }
    .landing-navigation button{
        font-size: 0.496rem;
        border-radius: 6px;
        margin-left: 0;
    }
}