:root{
    --dark-orange-color:#FB8500;
    --black:#000000;
    --sky-blue:#8ACAE6;
    --orange:#DBAA5A;
    --gray:#605757;
    --primary:#f9e0ae; 
    --gradient-background-color: linear-gradient(107deg, rgba(242, 202, 138, 0.92) 2.72%, rgba(245, 245, 245, 0.06) 94.02%, rgba(217, 217, 217, 0.00) 94.02%);   
    --gradient-header-color: linear-gradient(to bottom, var(--black), var(--dark-orange-color));
    --font: #682c0e;
    --bg_button: #c24914;
}

.footer{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around; 
    height: 224px;
    width: 100%;
    background-color: var(--primary);
    color: #8ACAE6;
    z-index: 9999;
}
.company-logo{
    display: flex;
}
.logo img{
    width: 2rem;
    margin-right: 0.4rem;
}
.title{
    color: var(--font);
    font-size: 1.8rem;
    font-weight: 700;
}
.text-content{
    display: flex;
    gap: 6rem;
    font-family: Arial, Helvetica, sans-serif;
}
.links h4, .contacts h4{
    color: #000000 !important;
    font-weight: 700;
}
.links p, .contacts p{
    color: var(--gray);
    font-size: 0.92rem;
}
.footer-logos{
    display: flex;
    gap: 2.8rem;
} 
.footer-logos img{
    width: 8.8rem;
}
@media screen and (max-width: 600px){
    .footer{
        height: 148px;
    }
    .logo img{
        width: 1.04rem;
        margin-right: 0.2rem;
        margin-bottom: 0.32rem;
    }
    .title{
        color: var(--font);
        font-size: 1.08rem;
        font-weight: 700;

    }
    .text-content{
        gap: 0.2rem;

    }
    .links h4, .contacts h4{
        font-size: 0.72rem;   
        margin-bottom: 0.2rem;
    }
    .links p, .contacts p{
        font-size: 0.6rem;
        margin-bottom: 0;
        width: 5rem;
    }
    .footer-logos img{
        width: 50px;
    }
    .footer-logos{
        gap:0.2rem;
    }

}
@media screen and (min-width: 601px) and (max-width: 768px){
    
}
@media screen and (min-width: 769px) and (max-width: 992px){

}
  

@media screen and (min-width: 993px){

}
