:root{
    --dark-orange-color:#FB8500;
    --black:#000000;
    --sky-blue:#8ACAE6;
    --orange:#DBAA5A;
    --gray:#605757;
    --primary:#f9e0ae; 
    --gradient-background-color: linear-gradient(107deg, rgba(242, 202, 138, 0.92) 2.72%, rgba(245, 245, 245, 0.06) 94.02%, rgba(217, 217, 217, 0.00) 94.02%);   
    --gradient-header-color: linear-gradient(to bottom, var(--black), var(--dark-orange-color));
    --font: #682c0e;
    --bg_button: #c24914;
}

.footer{
    position: absolute;
    display: flex;
    align-items: center;
    height: 224px;
    width: 100%;
    background-color: var(--primary);
    color: #8ACAE6;
    padding-left: 104px;
    z-index: 9999;
}
.logo img{
    width: 2rem;
    margin-right: 0.4rem;
    margin-bottom: 0.56rem;
}
.title{
    color: var(--font);
    font-size: 1.8rem;
    font-weight: 700;
    margin-right: 12rem;
}
.text-content{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    gap: 6rem;
}
.footer h4{
    font-weight: 700;
}
.links h4, .contacts h4{
    color: #000000 !important;
}
.links p{
    width: 160px;
    margin: 0;
    color: var(--gray);
    font-size: 0.92rem;
}
.contacts p{
    margin: 0;
    color: var(--gray);
    font-size: 0.92rem;
}
.footer-logos{
    display: flex;
    margin-left: auto;
    gap: 2.8rem;
    margin-right: 4.2rem;
}
.footer-logos img{
    width: 8.8rem;
}

@media screen and (max-width: 600px) {
    .footer {
        position: absolute;
        display: flex;
        padding-left: 8px;
        height: 148px;
    }
    .logo img{
        width: 0.88rem;
        margin-right: 0.2rem;
        margin-bottom: 0.48rem;
    }
    .title{
        color: var(--font);
        font-size: 0.8rem;
        font-weight: 700;
        margin-right: 0.6rem;
    }
    .text-content{
        gap: 0.2rem;
    }
    .links h4, .contacts h4{
        font-size: 0.72rem;   
    }
    .links p{
        width: 4.8rem;
    }
    .footer-logos{
        gap: 0.4rem;
        margin-right: 0.4em;
    }
    .footer-logos img{
        width: 40px;
    }
    .links p, .contacts p{
        font-size: 0.6rem;
    }
}