/*Colors*/
:root{
    --dark-orange-color:#FB8500;
    --black:#000000;
    --sky-blue:#8ACAE6;
    --orange:#DBAA5A;
    --gray:#605757;
    --light_gray: #d9d9d9;
    --primary:#f9e0ae; 
    --gradient-background-color: linear-gradient(107deg, rgba(242, 202, 138, 0.92) 2.72%, rgba(245, 245, 245, 0.06) 94.02%, rgba(217, 217, 217, 0.00) 94.02%);   
    --gradient-header-color: linear-gradient(to bottom, var(--black), var(--dark-orange-color));
    --font: #682c0e;
    --bg_button: #c24914;
    --image_bg: #dac0a3;
    --image_bg2: #eadbc8; 

    overflow-x: hidden;
}


.sU-wrapper{
    background-color: var(--primary);
}

.sU-pI-container{
    background-color: white;
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial;
    border-radius: 40px;
    transform: translateX(32vw);
    
}
.pI-head h3{
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    padding: 32px 0;
    margin-top: 40px;
    margin-bottom: 24px;

}

.pI-infos{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 12px;

}
.pI-infos input{
    height: 40px;
    width: 440px;
    padding-left: 20px;
    font-size: 16px;
    border: 1.5px solid var(--light_gray);
    border-radius: 12px;
    margin-bottom: 10px;
    font-size: 14px;
}

.pI-infos p{
    color: var(--FONT_GRAY);
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 700;
}
.button-next{
    margin-top: 8px;

    #next{
        height: 44px;
        width: 440px;
        color: white;
        background-color: var(--bg_button);
        font-weight: 700;
        font-size: 18px;
        border: none;
        letter-spacing: .02em;
        border-radius: 8px;
        margin-bottom: 16px;
        box-shadow: 0px  4px 6px rgba(0, 0, 0, 0.3);
    }
    #next:hover{
        filter: brightness(0.9);
    }
}
.sU-login{
    color: var(--gray);
}
.sU-login a{
    color: var(--bg_button);
    text-decoration: none;
}
.sU-header{
    position: absolute;
    margin-left: 24px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.sU-header img{
    width: 32px;
}
.sU-header h2{
    color: var(--font);
    font-weight: 700;
    padding-top: 14px;
}
.sU-banner{
    position: absolute;
    padding-top: 120px;
    display:flex;

    #p1{
        z-index:10;
    }
    #p2{
        z-index:8;
        transform: translateX(-140px);
    }
    #p3{
        z-index:10;
        transform: translateX(-320px);
    }
    #p4{
        z-index:8;
        transform: translateX(-520px);
    }
}
.sU-banner img{
    height: 760px;
}
.account-created{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 440px;
    border: 2px solid var(--gray);
    border-radius: 25px;
    margin: 48px 0;
}
.account-created h3{
    font-size: 24px;
    font-weight: 400;
    color: var(--bg_button);
}
.sU-terms{
    display: flex;
    align-items: center;
    gap: 8px;
    transform: translateY(-20px);
}
.sU-terms input{
    width: 16px;
}
.sU-terms p{
    font-size: 13px;
    padding-bottom: 8px;
}
.sU-terms a{
    color: #000;
}
