:root{
    --dark-orange-color:#FB8500;
    --black:#000000;
    --sky-blue:#8ACAE6;
    --orange:#DBAA5A;
    --gray:#605757;
    --primary:#f9e0ae; 
    --gradient-background-color: linear-gradient(107deg, rgba(242, 202, 138, 0.92) 2.72%, rgba(245, 245, 245, 0.06) 94.02%, rgba(217, 217, 217, 0.00) 94.02%);   
    --gradient-header-color: linear-gradient(to bottom, var(--black), var(--dark-orange-color));
    --font: #682c0e;
    --bg_button: #c24914;
    --image_bg: #dac0a3;
    --image_bg2: #eadbc8; 

    overflow-x: hidden;
}

.wrapper-cP{
    display: block;
    justify-content: center;
    width: 100px !important;
    max-width: 100px !important;
    
}
.rectangle{
    width: 800px;
    max-width: 800px;
    height: 150vh;
    position: absolute;
    border-radius:50px;
}
.first{
    background-color: var(--primary);
    transform: rotate(-40deg);
    margin-left: 86vw;
    top: -28%;
    z-index: 3;
}
.second{
    background-color: var(--image_bg2);
    transform: rotate(-40deg);
    margin-left: 82vw;
    top: 4%;
    z-index: 2;
}
.third{
    background-color: var(--image_bg);
    transform: rotate(-40deg);
    margin-left: 77vw;
    top: 36%;
    z-index: 1;
}
.cP-first-section{
    height: 100vh;
}
.cP-text{
    padding-top: 28vh;
    padding-left: 104px;
}
.cP-text h1{
    font-size: 88px;
    font-weight: 700;
    width: 900px;
}
.cP-text p{
    margin-top: 32px;
    font-size: 28px;
    font-weight: 400;
    width: 840px;
    color: var(--gray)
}

.cP-second-section{
    position: relative;
    height: auto;
    width: 100vw;
    z-index: 99;
    background-color: white;
    padding-top: 280px;
    padding-left: 104px;
    padding-right: 80px;
}
.border{
    position: absolute;
    transform: translateX(-50vw);
    height: 160px;
    width: 200vw;
    border: none !important;
    background-color: var(--image_bg);
}

.company{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 128px;
    padding-bottom: 128px;
}
.company-image{
    padding: 16px;
    width: 480px;
    height: 480px;
    background-color: var(--image_bg);
    border-radius: 25px;
}

.company-description h3{
    font-size: 48px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.company-description h4{
    padding-top: 16px;
    font-size: 32px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.company-description p{
    font-size: 18px;
    padding-top: 16px;
    color: var(--gray);
    font-family: Arial, Helvetica, sans-serif;
    width:500px;
}